.App {
  padding: 16px;
  max-height: 100vh;
}

.site-page-header {
  color: #ff3f3f;
}

.ant-page-header-heading {
  display: flex !important;
  justify-content: center !important;
  color: #ff3f3f !important;
}

.ant-page-header-heading-title {
  color: #ff3f3f !important;
}
.ant-table table {
  width: none !important;
}

table {
  table-layout: none !important;
}
